<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXbeQEvo5DWWVnz5Ozhi8kLClLWZY8XBg</string>
	<key>GCM_SENDER_ID</key>
	<string>962883606461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voiceAi</string>
	<key>PROJECT_ID</key>
	<string>chatting-362f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-362f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962883606461:ios:0629d687412a5e8a5964d4</string>
</dict>
</plist>